In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime, timedelta

# –î–∞—Ç—ã
start_date = datetime(2025, 4, 13)
end_date = datetime.now()

# –†–µ–∑—É–ª—å—Ç–∞—Ç—ã
data = []

# –ó–∞–≥–æ–ª–æ–≤–∫–∏
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/91.0.4472.124"
}

current_date = start_date
last_year = None

while current_date <= end_date:
    date_str = current_date.strftime("%d.%m.%Y")
    year_now = current_date.year
    if year_now != last_year:
        print(f"üìÖ –ù–∞—á–∞–ª—Å—è –ø–∞—Ä—Å–∏–Ω–≥ {year_now} –≥–æ–¥–∞...")
        last_year = year_now

    url = f"https://nbt.tj/tj/kurs/gold.php?date={date_str}"
    price = None

    try:
        response = requests.get(url, headers=headers, timeout=10)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, "html.parser")
            tables = soup.find_all("table")

            # –ü–æ–∏—Å–∫ —Ç–∞–±–ª–∏—Ü—ã, —Å–æ–¥–µ—Ä–∂–∞—â–µ–π "–≥—Ä–∞–º–º" –∏ "—Ü–µ–Ω–∞"
            for table in tables:
                rows = table.find_all("tr")
                for row in rows:
                    cols = row.find_all("td")
                    if len(cols) >= 3:
                        weight = cols[0].text.strip().lower().replace(" ", "")
                        if weight.startswith("5"):
                            price = cols[2].text.strip()  # –¶–µ–Ω–∞ –ø—Ä–æ–¥–∞–∂–∏
                            break
                if price:
                    break
    except Exception as e:
        pass  # –ò–≥–Ω–æ—Ä–∏—Ä—É–µ–º –æ—à–∏–±–∫–∏, –ø—Ä–æ–¥–æ–ª–∂–∞–µ–º

    data.append({
        "date": date_str,
        "price_sell_5g": price
    })
    current_date += timedelta(days=1)

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –≤ Excel
df = pd.DataFrame(data)
df.to_excel("–ü–∞—Ä—Å–∏–Ω–≥_–æ—Å—Ç–∞–ª—å–Ω—ã—Ö_–¥–∞–Ω–Ω—ã—Ö.xlsx", index=False)
print("‚úÖ –î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ –ü–∞—Ä—Å–∏–Ω–≥_–æ—Å—Ç–∞–ª—å–Ω—ã—Ö_–¥–∞–Ω–Ω—ã—Ö.xlsx")

üìÖ –ù–∞—á–∞–ª—Å—è –ø–∞—Ä—Å–∏–Ω–≥ 2025 –≥–æ–¥–∞...
‚úÖ –î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ –ü–∞—Ä—Å–∏–Ω–≥_–æ—Å—Ç–∞–ª—å–Ω—ã—Ö_–¥–∞–Ω–Ω—ã—Ö.xlsx

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           26 non-null     object
 1   price_sell_5g  26 non-null     object
dtypes: object(2)
memory usage: 548.0+ bytes

In [5]:
df.isna().sum()

date             0
price_sell_5g    0
dtype: int64

In [7]:
df.shape

(26, 2)

In [9]:
df

          date price_sell_5g
0   13.04.2025       5829.06
1   14.04.2025       5829.06
2   15.04.2025       5836.56
3   16.04.2025       5842.28
4   17.04.2025       5969.17
5   18.04.2025       5979.95
6   19.04.2025       5924.52
7   20.04.2025       5924.52
8   21.04.2025       5924.52
9   22.04.2025       5909.41
10  23.04.2025       6118.53
11  24.04.2025       5899.10
12  25.04.2025       5895.50
13  26.04.2025       5829.72
14  27.04.2025       5829.72
15  28.04.2025       5829.72
16  29.04.2025       5784.94
17  30.04.2025       5838.04
18  01.05.2025       5769.17
19  02.05.2025       5611.47
20  03.05.2025       5646.20
21  04.05.2025       5646.20
22  05.05.2025       5646.20
23  06.05.2025       5659.66
24  07.05.2025       5857.24
25  08.05.2025       5846.26